.intro {
		header {
			height: 100px;
			background-color: black;
			border-bottom: 1px solid #191919;
			.wrapper {
				@include wrapper(1000px);
				height: 100px;
			}
			.logo {
				color: white;
				font-size: 12px;
				letter-spacing: 6px;
				transition: color 0.2s;
				margin: 44px 0;
				a {
					color: white;
				}
				&:hover {
					span {
						transition: color 0.2s;
						color: $yellow;
					}
				}
			}

			.login {
				background: $yellow;
				margin: 34px 0;
				padding: 10px 15px;
				height: 12px;
				border-radius: 5px;
				color: black;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
			}
		} // [.header]

		.intro-s {
			background-color: black;
			padding: 120px 0;
			color: white;
			h2 {
				font-size: 28px;
				font-weight: 300;
				margin-bottom: 28px;
				text-align: center;
			}

			h3 {
				font-size: 18px;
				text-align: center;
			}
		}

	} // [.intro]