// Typography

body {
	font-family: "proxima-nova", 'HelveticaNeue', HelveticaNeue, 'Helvetica Neue', Helvetica Neue, 'Helvetica', Helvetica, sans-serif;
	font-weight: 300;
}

h1 {}

h2 {}

a {
	color: inherit;
	text-decoration: none;
}

p {}

li {}